
body {
  font-family: "Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-variant: small-caps;
  font-family: "Raleway", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar:before {
      content: "";
      position: fixed;
      left: 0;
      right: 0;
      z-index: -1;
      
      display: block;
      height: 100%;
      width: 100%;
      background-color: #484349;
      background: url("/static/img/main-bg.jpg") no-repeat center center;
      background-size: cover;

      /*
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);*/
      filter: blur(5px);
}

.navbar-inverse .navbar-brand {
  color: #F7F0F0;
  font-variant: small-caps;
  font-family: "Raleway", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2.0em;
}

.navbar-inverse .navbar-nav>li>a {
  color: #F7F0F0;
  font-family: "Raleway", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav>li>a:hover {
  color: #875e9a;
 }

.translucent {
    background: #F7F0F0;
    background: rgba(255,255,255, 0.5);
    padding: 10px 20px;
}

.btn-lg {
  font-family: "Raleway", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.btn-success {
  background-color: #1DB954;
}

#empty-landing {
  margin-top: 15%;
}

#home-header h1 {
  font-size: 4.0em;
  border-bottom: 1px solid #484349;
}

.home-or {
  font-size: 1.3em;
  text-decoration: overline underline;
  padding: 5px 0;
}

.artist-option {
  font-size: 1.3em;
  padding: 5px 0;
  background: #484349;
  color: #F7F0F0;
  margin: 2px 0;
  border-radius: 10px;
  transition: background 1s;
}

.artist-option:hover {
  background: transparent;
}

.artist-option img {
  max-height: 200px;
}

#attributions {
    margin-top: 20px;
}

#attributions img {
  max-width: 100px;
}

#concert-results h1, #profile h1 {
  font-size: 2.8em;
  font-style: italic;
}

.results-options {
  margin-bottom: 20px;
}

.results-options img {
  min-width: 100px;
  max-width: 125px;
}

.progress {
  background-color: rgba(247, 240, 240 0.4);
}

#results-progress {
  min-width: 2em;
}

.concert-rec {
  border-top: 5px solid #484349;
  padding: 25px;
}

.concert-rec-form {
  padding: 10px;
}

#user-info {
  font-weight: 600;
}

#saved-concerts-list {
  margin-top: 30px;
}

.saved-concert {
  border-top: 5px solid #484349;
  padding: 15px 10px;
}

.concert-map {
  min-height: 200px;
}
