<!DOCTYPE html>
<html>
<head>
  <title>
    [[ App Name ]]
    {% block subtitle %}
      : Page Subtitle Missing
    {% endblock %}
  </title>
  <script src="http://code.jquery.com/jquery.js"></script>
</head>
<body>

  <div id="navbar">
    Navbar Links:
    <ul>
      <li>
        <a href="/">Home</a>
      </li>

      {% if session.get('user_id') %}
        <li>
          <a href="/profile">Profile</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      {% else %}
        <li>
          <a href="/login">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>

  {% if get_flashed_messages() %}
    <div id="flashed-messages">
      {% for message in get_flashed_messages() %}
        <div id="flash-msg">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% block content %}
    Page content missing
  {% endblock %}
  
  {% block js %}
    <script>
      alert("This is the only javascript on this page")
    </script>
  {% endblock %}
</body>
</html>