{% extends 'base.html' %}

{% block subtitle %}
{% endblock %}

{% block content %}

  <div id="search-form">

    <form id="loc-search-form">
      <label for="location-input">Location:</label>
        <input type="text" id="location-input" name="location" value="{{ session.get('locName', 'SF Bay Area') }}">
      <input type="submit" id="loc-search-button" value="Search">
    </form>

    <br>
    <form id="spotify-auth-form">
      <button id="spotify-auth" type="submit">Use your Spotify account's top artists</button>
    </form>

    OR
    <br>
    <button id="specify-artists">Choose specific artists instead</button>

    <div id="spotify-artist-search" class="row" hidden>
      <br>
      <form id="artist-search-form" class="col-xs-8">
        <label for="artist-input">Search for up to 10 artists:</label>
          <br>
          <input type="text" id="artist-input" name="artist">
        <input type="submit" id="artist-search-button" value="Search">
      </form>
      <div id="chosen-artists" class="col-xs-4">
        <h3>Selected Artists:</h3>
        <button id="no-auth">Search using these artists</button>
        <div id="chosen-artists-list"></div>
      </div>
    </div>

  </div>
  <br>
  <br>
  <div id="attributions">
    Built using <img style="max-width: 100px" src="/static/img/spotify-logo-rgb-green.png"> and <img style="max-width: 100px" src="/static/img/by-songkick-black.png">
  </div>
  
{% endblock %}

{% block js %}
  <script>

    // Call Songkick Search function on click
    $("#loc-search-button").on('click', searchSongkickLoc);

    // Toggle artist search div on click
    $("#specify-artists").on('click', function(evt) {
      $("#spotify-artist-search").slideToggle();
    });

    // Call Spotify artist search function on click
    $("#artist-search-button").on('click', searchSpotifyArtist);

    // Add artist to chosen artists list on click
    $("#artist-search-form").on('click', "div.artist-option", chooseArtist);

    // Remove artist from chosen artists list on click
    $("#chosen-artists-list").on('click', "div.artist-option", removeChosenArtist);

    // Save location and redirect to Spotify authorization
    $("#spotify-auth").on('click', submitSpotifyAuth);

    // Save location and send specified artists' information
    $("#no-auth").on('click', submitNoAuth);

  </script>
{% endblock %}