{% extends 'base.html' %}

{% block subtitle %}
{% endblock %}

{% block content %}

  <div id="empty-landing" class="hidden-xs">
  </div>

  <div class="row text-center">
    <form id="loc-search-form" class=" col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
      <label for="location-input">Location:</label>
      <div clas="row">
        <div class="col-xs-9">
          <input type="text" id="location-input" class="form-control" name="location" value="{{ session.get('locName', 'SF Bay Area') }}">
        </div>
        <input type="submit" id="loc-search-button" class="btn col-xs-3" value="Search">
      </div>
    </form>
  </div>

  <div class="row text-center">
    <br>
    <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
      <button id="spotify-auth" class="btn btn-block btn-success">Use your Spotify account's top artists</button>
      
      <span>OR</span>

      <button id="specify-artists" class="btn btn-block btn-info">Choose specific artists instead</button>
    </div>
  </div>

  <div id="spotify-artist-search" class="row" hidden>
    <br>
    <form id="artist-search-form" class="col-xs-8">
      <label for="artist-input">Search for up to 10 artists:</label>
        <br>
        <input type="text" id="artist-input" name="artist">
      <input type="submit" id="artist-search-button" value="Search">
    </form>
    <div id="chosen-artists" class="col-xs-4">
      <h3>Selected Artists:</h3>
      <button id="no-auth">Search using these artists</button>
      <div id="chosen-artists-list"></div>
    </div>
  </div>

  <br>

  <br>
  <div class="row">
    <div id="attributions" class="text-center col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
      Built using <img style="max-width: 100px" src="/static/img/spotify-logo-rgb-green.png"> and <img style="max-width: 100px" src="/static/img/by-songkick-black.png">
    </div>
  </div>
  
{% endblock %}

{% block js %}
  <script>

    // Call Songkick Search function on click
    $("#loc-search-button").on('click', searchSongkickLoc);

    // Toggle artist search div on click
    $("#specify-artists").on('click', toggleArtistSearch);

    // Call Spotify artist search function on click
    $("#artist-search-button").on('click', searchSpotifyArtist);

    // Add artist to chosen artists list on click
    $("#artist-search-form").on('click', "div.artist-option", chooseArtist);

    // Remove artist from chosen artists list on click
    $("#chosen-artists-list").on('click', "div.artist-option", removeChosenArtist);

    // Save location and redirect to Spotify authorization
    $("#spotify-auth").on('click', submitSpotifyAuth);

    // Save location and send specified artists' information
    $("#no-auth").on('click', submitNoAuth);

  </script>
{% endblock %}