{% extends 'base.html' %}

{% block subtitle %}
{% endblock %}

{% block content %}

  <div id="empty-landing" class="hidden-xs">
  </div>

  <div id="home-header" class="translucent row text-center">
    <h1>Consa</h1>
  </div>

  <div class="row text-center translucent">
    <form id="loc-search-form" class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
      <h3><label for="location-input">Search for your location:</label></h3>
      <div class="row">
        <div class="col-xs-9">
          <input type="text" id="location-input" class="form-control" name="location" placeholder="{{ session.get('locName', 'SF Bay Area, CA, US') }}">
        </div>
        <input type="submit" id="loc-search-button" class="btn btn-default col-xs-3" value="Search">
      </div>
      <div id="loc-search-results" class="row">
      </div>
    </form>
  </div>

  <div class="row text-center translucent">
    <br>
    <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
      <div id="auth-option">
        <button id="spotify-auth" class="btn btn-block btn-success btn-lg">Use your Spotify account's top artists</button>
        <div class="home-or">OR</div>
      </div>
      
      <button id="specify-artists" class="btn btn-block btn-info">Choose specific artists instead</button>
    </div>
    <br>
  </div>

  <div id="spotify-artist-search" class="row translucent" hidden>
    <form id="artist-search-form" class="col-md-6 col-md-offset-1 col-sm-7 col-xs-6">
      <h3><label for="artist-input">Search for up to 10 artists:</label></h3>
      <div class="row">
        <div class="col-sm-9 col-xs-12">
          <input type="text" class="form-control" id="artist-input" name="artist">
        </div>
        <div class="col-sm-3 col-xs-12">
          <input type="submit" class="btn btn-default btn-block" id="artist-search-button" value="Search">
        </div>
      </div>
    </form>

    <div id="chosen-artists" class="col-md-3 col-sm-4 col-xs-5 col-xs-offset-1">
      <h3>Selected Artists:</h3>
      <button class="btn btn-block btn-success btn-lg" id="no-auth">Search for concerts</button>
      <div id="chosen-artists-list"></div>
    </div>
  </div>

  <div class="row translucent">
    <div id="attributions" class="text-center col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
      Built using <img src="/static/img/spotify-logo-rgb-green.png"> and <img src="/static/img/by-songkick-black.png">
    </div>
  </div>
  
{% endblock %}

{% block js %}
  <script>

    // Call Songkick Search with texy input on delay
    var locDelay;
    $("#location-input").on('input', function(evt){
      clearTimeout(locDelay);
      locDelay = setTimeout(function(){return searchSongkickLoc(evt)}, 700);
    });

    // Call Songkick Search function on click
    $("#loc-search-form").on('submit', function(evt){
      clearTimeout(locDelay);
      searchSongkickLoc(evt);
    });

    // Toggle artist search div on click
    $("#specify-artists").on('click', toggleArtistSearch);

    // Call Spotify artist search with text input on delay
    var artistDelay;
    $("#artist-input").on('input', function(evt){
      clearTimeout(artistDelay);
      artistDelay = setTimeout(function(){return searchSpotifyArtist(evt)}, 700);
    });

    // Call Spotify artist search function on click
    $("#artist-search-form").on('submit', function(evt){
      clearTimeout(artistDelay);
      searchSpotifyArtist(evt);
    });

    // Add artist to chosen artists list on click
    $("#artist-search-form").on('click', "div.artist-option", chooseArtist);

    // Remove artist from chosen artists list on click
    $("#chosen-artists-list").on('click', "div.artist-option", removeChosenArtist);

    // Save location and redirect to Spotify authorization
    $("#spotify-auth").on('click', submitSpotifyAuth);

    // Save location and send specified artists' information
    $("#no-auth").on('click', submitNoAuth);

  </script>
{% endblock %}