{% extends 'base.html' %}

{% block subtitle %}
  : Your Past Concerts
{% endblock %}

{% block content %}

  <div class="row">
    <div id="profile" class="translucent col-md-10 col-md-offset-1 col-xs-12">
      <h1>Your past concerts</h1>

      <div id="user-info">
        Email: {{ current_user.email }}
      </div>

      {% if current_user.past_concerts %}
        <div id="saved-concerts-list">

          {% for concert in current_user.past_concerts %}
            <div class="saved-concert row">
              
              <div class="concert-info col-sm-8 col-xs-12">
                <div class="row">

                  <div class="col-xs-5">
                    {% if concert.image_url %}
                      <img class="saved-concert-img img-responsive" src="{{ concert.image_url }}">
                    {% endif %}
                  </div>

                  <div class="col-xs-7">
                    <b>{{ concert.artist }}</b>
                    <br>

                    {{ concert.display_name }}
                    <br> 
                    
                    {% if concert.city %}
                      {% if concert.venue_name %}
                        {{ concert.venue_name }} in
                      {% endif %}
                      
                      {{ concert.city }}
                      <br>
                    {% endif %}

                    {% if concert.start_date %}
                      {{ concert.start_date.strftime("%a %b %d, %Y") }}
                    {% elif concert.start_datetime %}
                      {{ concert.start_datetime.strftime("%a %b %d, %Y at %-I:%M %p")}}
                    {% endif %}

                    {% if concert.end_date %}
                      {{ concert.end_date.strftime(" to %a %b %d, %Y") }}
                    {% elif concert.end_datetime %}
                        {{ concert.end_datetime.strftime(" to %a %b %d, %Y at %-I:%M %p")}}
                    {% endif %}
                    <br>

                    {% if concert.songkick_url %}
                      <a href="{{ concert.songkick_url }}" target="_blank">
                        View this event on Songkick
                      </a>
                      <br>
                    {% endif %}
                  </div>

                </div>
              </div>

              <div class="concert-map col-sm-4 hidden-xs">
                {% if concert.venue_lat and concert.venue_lng %}
                  
                  <input type="hidden" class="map-venue" value="{{ concert.venue_name }}">
                  <input type="hidden" class="map-lat" value="{{ concert.venue_lat }}">
                  <input type="hidden" class="map-lng" value="{{ concert.venue_lng }}">

                {% endif %}
              </div>

            </div>
          {% endfor %}
        </div>

      {% else %}
        <h3>You have no past saved concerts</h3>
      {% endif %}
    </div>
  </div>



{% endblock %}

{% block js %}
  <script>

    // Remove concert from profile on click
    $("input.remove-concert").on("click", removeConcert);

    // Create a Google maps object for each concert with coordinates
    function initMaps() {
      $("div.concert-map").each(createConcertMap);
    }

  </script>

  <!-- Loads Google Maps API async and calls initMaps() -->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGqlMXnmcmuzeKnuaJKGZi0BEls3rJnmE&callback=initMaps">
  </script>
{% endblock %}