{% extends 'base.html' %}

{% block subtitle %}
  : Your Profile
{% endblock %}

{% block content %}
  
  <h1>Your profile</h1>

  <div id="user-info">
    Email: {{ current_user.email }}
  </div>

  {% if current_user.concerts %}
    <h3>Your saved concerts</h3>

    <div id="saved-concerts-list">
      {% for concert in current_user.concerts %}
        <div class="saved-concert row">
          <div class="concert-info col-xs-8">

            <b>{{ concert.artist }}</b>
            <br>
            {{ concert.display_name }} 

            <form action="/remove-concert">
              <input type="hidden" class="songkick-id" value="{{ concert.songkick_id }}">
              <input type="submit" class="remove-concert" value="Remove this concert">
            </form>
            
            {% if concert.city %}
              {% if concert.venue_name %}
                {{ concert.venue_name }} in
              {% endif %}
              
              {{ concert.city }}
              <br>
            {% endif %}

            {% if concert.start_datetime %}
              {{ concert.start_datetime.strftime("%a %b %d, %Y at %-I:%M %p") }}
              <br>
            {% endif %}

            {% if concert.songkick_url %}
              <a href="{{ concert.songkick_url }}" target="_blank">
                View this event on Songkick
              </a>
              <br>
            {% endif %}
            <br>

          </div>

          {% if concert.venue_lat and concert.venue_lng %}
            <div class="concert-map col-xs-4" style="min-height: 200px">
              
              <input type="hidden" class="map-lat" value="{{ concert.venue_lat }}">
              <input type="hidden" class="map-lng" value="{{ concert.venue_lng }}">

            </div>
          {% endif %}

        </div>
      {% endfor %}
    </div>

  {% else %}
    <h3>You have no saved concerts</h3>
  {% endif %}


{% endblock %}

{% block js %}
  <script>

    // Remove concert from profile on click
    $("input.remove-concert").on("click", removeConcert);

    // Create a Google maps object for each concert with coordinates
    function initMaps() {
      $("div.concert-map").each(createConcertMap);
    }

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGqlMXnmcmuzeKnuaJKGZi0BEls3rJnmE&callback=initMaps">
    </script>
{% endblock %}