{% extends 'base.html' %}

{% block subtitle %}
  : Your Profile
{% endblock %}

{% block content %}
  
  <h1>Your profile</h1>

  <div id="user-info">
    Email: {{ current_user.email }}
  </div>

  <h3>Your saved concerts</h3>
  <div id="saved-concerts-list">
    {% for concert in current_user.concerts %}
      <div class="saved-concert">

        <b>{{ concert.artist }}</b> 

        <form action="/remove-concert">
          <input type="hidden" class="songkick-id" value="{{ concert.songkick_id }}">
          <input type="submit" class="remove-concert" value="Remove this concert">
        </form>
        
        {% if concert.city %}
          {% if concert.venue %}
            {{ concert.venue }} in
          {% endif %}
          
          {{ concert.city }}
          <br>
        {% endif %}

        {% if concert.start_datetime %}
          {{ concert.start_datetime.strftime("%a %b %d, %Y at %-I:%M %p") }}
          <br>
        {% endif %}

        {% if concert.songkick_url %}
          <a href="{{ concert.songkick_url }}" target="_blank">
            View this event on Songkick
          </a>
          <br>
        {% endif %}
        <br>

      </div>
    {% endfor %}
  </div>

{% endblock %}

{% block js %}
  <script>
    // Sends concert data to server via AJAX request for removal
    function removeConcert(evt){
      evt.preventDefault();

      // Confirm deletion
      var confirmation = confirm("Are you sure you want to delete this?");
      if (confirmation) {

        // Get hidden value of songkick id in form
        var formInputs = {
          "songkick-id": $(this).siblings(".songkick-id").val()
        }

        // POST AJAX request to server
        $.post("/remove-concert", formInputs, function(data) {
          // If the removal is successful, remove the concert's div
          if (data == "True") {
            $(this).closest("div").hide();
          } else {
            // Alert user if unsuccessful
            alert('Cannot remove this concert at this time.')
          }

        }); 
      }
    }

    $(".remove-concert").on("click", removeConcert)
  </script>
{% endblock %}