{% extends 'base.html' %}

{% block subtitle %}
  : Registration
{% endblock %}

{% block content %}

  <div id="registration-form">
    <form action="/register" method="POST">

      <label for="reg-email">Email:</label>
      <input type="email" name="email" id="reg-email">
      <br>

      <label for="reg-pw">Password:</label>
      <input type="password" name="password" id="reg-pw">
      <br>

      <input type="submit" value="Register">
      
    </form>
  </div>

{% endblock %}

{% block js %}
  <script>
  </script>
{% endblock %}